<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hullu kirvesmies</title>
        <meta name="descrption" content="Hullu kirvesmies -teekkarilaulun sanat" />
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <div id="wrapper">
        {{ content }}
        <footer>Lisää säkeistöjä tai korjaa virheitä <a href="https://github.com/omahlama/hullukirvesmies.fi">githubissa</a></footer>
      </div>
    </body>
</html>
