<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hullu kirvesmies</title>
        <meta name="description" content="Hullu kirvesmies -teekkarilaulun sanat" />
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <meta property="og:title" content="Hullu kirvesmies -teekkarilaulu">
    <meta property="og:image" content="http://hullukirvesmies.fi/img/Hullukirvesmies.jpg">
    <meta property="og:url" content="http://hullukirvesmies.fi/">
    <meta property="og:site_name" content="Hullu kirvesmies"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Illalla, kun mielipuoli kirveen saa,
hän johdattaa mut aitan taa,
siellä missä aivokoppa aukeaa
ja verikin on punaisin.

Nauraen lyö hullu niskan taa,
tunnen sen jo veri tirskahtaa.
Vaikk’ on taju himmennytkin,
hullu hakkaa vielä nytkin
niskantynkää verta pursuvaa.">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58651897-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                  appId      : '426065477550355',
                  xfbml      : true,
                  version    : 'v2.2'
                });
                FB.Event.subscribe('edge.create', function(targetUrl) {
                  ga('send', 'social', 'facebook', 'like', targetUrl);
                });
                FB.Event.subscribe('edge.remove', function(targetUrl) {
                  ga('send', 'social', 'facebook', 'remove', targetUrl);
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
      <div id="wrapper">
        {{ content }}
        <footer>Lisää säkeistöjä tai korjaa virheitä <a href="https://github.com/omahlama/hullukirvesmies.fi">githubissa</a></footer>
        <div class="fb-like" data-href="https://www.facebook.com/pages/hullukirvesmiesfi/1537425139844645" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </body>
</html>
